body {
	font-family: "Droid Sans", Helvetica, Tahoma, sans-serif;
	background-image: url("/images/sidebar-bg.png");
	background-position: top left;
	background-repeat: repeat-y;
	background-color: #2e2e2e;
	margin-top: 0px;
	margin-left: 0px;
	color: #ffffff;
}

small {
	color: #aaaaaa;
}

/*
 * Sidebar
 */

#sidebar {
	width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 14px;
	border-right: 1px solid #507677;
}

nav li {
	font-size: 20px;
	list-style: none;
	margin-left: 18px;
	padding-top: 9px;
	padding-bottom: 5px;
}

nav li:before {
	content: "• ";
	color: #2e2e2e;
	padding-right: 4px;
}

nav a, a:visited {
	color: #ffffff;
	text-decoration: none;
}
nav a:hover {
	color: #8a8a8a;
}

.side-hline {
	width: 100px;
	height: 1px;
}

.twitterbox {
	width: 70%;
	margin-left: 15%;
	font-size: 13px;
	border-radius: 5px;
	background-color: #507677;
	text-shadow: 0px 1px #1b1b1b;
}

.twitterbox ul {
	padding: 8px 8px 8px 20px;
}

.twitterbox li {
	list-style: none;
	text-align: left;
	margin: 6px 0px 6px 0px;
}

.twitterbox a, a:visited {
	color: #ffffff;
	text-decoration: none;
}

.twitterbox a:hover {
	color: #aaaaaa;
	text-decoration: none;
}

#sidebar .thumbnail {
	border: 1px solid #507677;
	margin-top: 14px;
	margin-bottom: -15px;
}

#sidebar .thumbnail:hover {
	border: 1px solid #809fa2;
}

.side-gametext {
	font-size: 14px;
	margin-bottom: 3px;
}

/*
 * Content
 */

#container {
	font-family: sans-serif;
	width: 732px;
	position: absolute;
	top: 0px;
	left: 201px;
	padding-left: 30px;
	padding-top: 330px;
	background-image: url("/images/tangram_banner.png");
	background-position: top left;
	background-repeat: no-repeat;
}

#container h1 {
	font-size: 35px;
	text-shadow: 0px 1px #1b1b1b;
	color: #ffffff;
}

#container h2, h2 a, h2 a:hover, h2 a:visited {
	font-size: 24px;
	text-shadow: 0px 1px #1b1b1b;
	color: #809fa2;
	margin-bottom: 0px;
	text-decoration: none;
}

#container h3 {
	font-size: 20px;
	text-shadow: 0px 1px #1b1b1b;
	color: #ffffff;
	margin-bottom: 0px;
	text-decoration: none;
}

div .centered {
	text-align: center;
}

.blog-timestamp {
	font-size: 18px;
	text-shadow: 0px 1px #1b1b1b;
	color: #8a8a8a;
}

.content {
	width: 620px;
	text-align: justify;
	margin-bottom: 30px;
} 

.content a, .content a:visited {
	color: #809fa2;
	text-decoration: none;
}

.content a:hover {
	color: #507677;
}

.content .thumbnail {
	border: 1px solid #507677;
}

.content .thumbnail:hover {
	border: 1px solid #809fa2;
}

.box {
	background-color: #507677;
	background-position: 13px 10px;
	background-repeat: no-repeat;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	font-size: 14px;
	text-shadow: 0px 1px #1b1b1b;
	overflow: auto;
	margin-bottom: 14px;
}

.box li {
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}

.box a, .box a:visited {
	color: #ffffff;
	text-decoration: underline;
}

.box a:hover { 
	color: #ffffff;
	text-decoration: none;
}

/*
 * About page
 */

.simonbio {
	background-image: url('/about/portrait_simon.png');
	padding-left: 85px;
}

.lukasbio {
	background-image: url('/about/portrait_lukas.png');
	padding-left: 85px;
}
