body {
	background-image: url("../images/sidebar-bg.png");
	background-position: top left;
	background-repeat: repeat-y;
	background-color: #2e2e2e;
	margin-top: 0px;
	margin-left: 0px;
	color: #ffffff;
}

#content {
	font-family: sans-serif;
	width: 732px;
	position: absolute;
	top: 0px;
	left: 201px;
	padding-left: 30px;
	padding-top: 330px;
	background-image: url("../images/tangram_banner.png");
	background-position: top left;
	background-repeat: no-repeat;
}

#content h1 {
	font-family: "Droid Sans", Helvetica, Tahoma, sans-serif;
	font-size: 35px;
	text-shadow: 1px 1px #1b1b1b;
	color: #ffffff;
}

#content h2 {
	font-family: "Droid Sans", Helvetica, Tahoma, sans-serif;
	font-size: 24px;
	text-shadow: 1px 1px #1b1b1b;
	color: #809fa2;
	margin-bottom: -13px;
}

#content .blog-timestamp {
	font-family: "Droid Sans", Helvetica, Tahoma, sans-serif;
	font-size: 18px;
	text-shadow: 1px 1px #1b1b1b;
	color: #8a8a8a;
	margin-bottom: -5px;
}

#content .blog-content {
	width: 620px;
	text-align: justify;
	margin-bottom: 30px;
} 
#sidebar {
	width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	padding-top: 14px;
	border-right: 1px solid #507677;
}

#sidebar li {
	font-family: "Droid Sans", Helvetica, Tahoma, sans-serif;
	font-size: 20px;
	list-style: none;
	margin-left: 18px;
	padding-top: 9px;
	padding-bottom: 5px;
}

#sidebar a, a:visited {
	color: #ffffff;
	text-decoration: none;
}
#sidebar a:hover {
	color: #8a8a8a;
}

#sidebar li:before {
	content: "• ";
	color: #2e2e2e;
	padding-right: 4px;
}

.side-hline {
	width: 100px;
	height: 1px;
}

.side-gamethumb {
	border: 1px solid #507677;
	margin-top: 14px;
	margin-bottom: -15px;
}

.side-gametext {
	font-family: "Droid Sans", Helvetica, Tahoma, sans-serif;
	font-size: 14px;
	margin-bottom: 3px;
}

.side-gamethumb:hover {
	border: 1px solid #809fa2;
}
