@media (min-width: 1200px) {
	.container {
		max-width: 1140;
	}
}

@keyframes float {
	0% {
		transform: translatey(-8px);
	}
	50% {
		transform: translatey(8px);
	}
	100% {
		transform: translatey(-8px);
	}
}

body {
	background-image: url("../img/bg.jpg");
	background-color: white;
	background-repeat: repeat-x;
	background-position: center top;
	font-family: "Open Sans";
	font-size: 20px;
 	color: #1e2021;
	margin-top: 80px;
	margin-bottom: 0px;
}

h1, h2, h3, h4, h5 {
	text-align: center;
	font-family: "Patrick Hand";
}

h1 {
	font-size: 3.3rem;
}

.top-logo {
	margin: 0 0 40px 0;
}

.cat-girl-header {
	margin-bottom: 80px;
	animation: float 4s ease-in-out infinite;
}

.intro-text {
	font-size: 22px;
	text-align: center;
}

.box-ingame {
	padding: 20px 20px 20px 20px;
}

.embed-responsive {
	margin: 50px 0 30px 0;
}

.page-section {
	/* margin-bottom: 70px; */
}

.section-heading {
	margin: 30px 0 20px 0;
}

.img-thumbnail {
	border: 0;
	border-radius: 1rem;
}

.page-footer {
	text-align: center;
	margin-top: 100px;
}

.btn-game-download {
	margin: 3px 3px 3px 3px;
}
