---
layout: base
---
<div class="row">
	<div class="col-sm-9 content">
		{{ content }}
	</div>
	<div class="col-sm-3">
		{% for game in site.data.games %}
		{% if game.status == "indev" or game.status == "released" %}
		<a href="/games/{{ game.id }}">
			<img src="/img/thumb/{{ game.id }}.png" class="img-circle center-block">
		</a>
		<div class="caption">
			<p class="text-center">
				<a href="/games/{{ game.id }}">
					{{ game.name }}
				</a>
			</p>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
