---
games:
    - name: Tobu Tobu Girl
      id: tobutobugirl
    - name: N.O.D.E.
      id: node
    - name: 90 Second Portraits
      id: 90secondportraits
    - name: Mr. Rescue
      id: mrrescue
    - name: Safety Blanket
      id: safetyblanket
    - name: Duck Marines
      id: duckmarines
    - name: Sienna
      id: sienna
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"></meta>
		<title>{{ page.title | strip_html }} | Tangram Games</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container">
			<div class="page">
				<nav>
					<ul class="top-menu">
						<li>
							<a href="/">Blog</a>
						</li>
						<li>
							<a href="/games">Games</a>
						</li>
						<li>
							<a href="/press">Press</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</nav>

				<div class="content">
					{{ content }}
				</div>
			</div>

			<div class="sidebar">
				{% for game in page.games %}
				<div class="game-thumb game-thumb-rounded">
					<a href="/games/{{ game.id }}">
						<img src="/img/thumb/{{ game.id }}.png">
					</a>
				</div>
				<div class="game-name">
					<a href="/games/{{ game.id }}">
						{{ game.name }}
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
